body {
  background: #1b1b1b;
  font-family: 'VT323', monospace;
  color: #FFF;
  margin: 0;
  padding: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

img {
  border-radius: 50%;
  width: 70px;
}

h1 {
  font-size: 65px;
  margin-bottom: 0;
  padding: 0;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.schedule {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lesson {
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.more-about {
  margin: 0 30px;
}

.red {
  border: 1px solid #c0392b;
  color: #FFF;
  background: #e74c3c;
}

.date {
  display: flex;
  align-content: center;
  justify-content: center;
  background: #FFF;
  color: #333;
  border-radius: 4px;
  padding: 10px;
  font-size: 40px;
}

.enroll {
  font-size: 20px;
  cursor: pointer;
}

.enroll:hover {
  background: #e2e2e2;
}

.header-container {
  display: flex;
  margin-top: 20px;
  padding: 5px;
}

.header {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-name {
  flex-direction: column;
  text-align: center;
}

.header-name p {
  margin: 0;
}

.alizarin { background: #E91E63; }

.amethyst { background: #9b59b6; }

.nephritis { background: #73ad2c; }

.turquoise { background: #1abc9c; }

.belize { background: #2980b9; }

.blue { background: #039bc6; }

.orange { background: #ef6e2a; }

.react { background: #3f51b5; }

.bitcoin { background: #e68509; }

.btn {
  position:relative;
  width:200px;
  color:#FFF;
  display:block;
  text-decoration:none;
  margin:0 auto;
  border-radius:5px;
  border:solid 1px #D94E3B;
  background:#cb3b27;
  text-align:center;
  padding: 14px;
  font-size: 1em;
  transition: all 0.1s;
  box-shadow: 0px 9px 0px #84261a;
}

.btn:active{
  box-shadow: 0px 2px 0px #84261a;
  position:relative;
  top:7px;
}

.already .btn {
  border:solid 1px #111;
  background: #333;
  box-shadow: 0px 9px 0px #000;
}

.already .btn:active{
  box-shadow: 0px 2px 0px #000;
}

.already .date {
  position: relative;
  background: #000;
  color: #333;
}

.already .date:before {
  content: 'Já aconteceu';
  position: absolute;
  top: -4px;
  left: 5px;
  z-index: 9;
  display: inline-block;
  padding: 7px 8px;
  border-radius: 20px;
  font-size: 11px;
  color: #e4f705;
  font-family: arial;
}

@media (max-width: 500px){
  header {
    text-align: center;
  }
  img {
    max-width: 100%;
    width: auto;
  }
  main {
    padding: 0 24px 24px;
  }
  h1 {
    font-size: 3em;
  }
  h3 {
    font-size: 1em;
  }
  .header {
    width: 100%;
  }
  .header-container {
    display: block;
    margin-top: 90px;
    padding: 74px 12px 12px;
    border-radius: 6px;
    position: relative;
  }
  .h-name {
    position: absolute;
    top: -45px;
  }
  .h-description {
    padding: 12px 12px 24px;
    font-size: 1.4em;
  }
  .h-action {
    padding: 24px 12px 24px;
    font-size: 1.4em;
  }
  .date {
    font-size: 2em;
  }

  .header-name {
    width: 90px;
  }
  .header-title {
    display: none;
  }

}