html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding-bottom: 6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
}

html, body {
  background-color: #fff;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  height: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #eee;
}

.header {
  margin: auto;
  padding: 12px 12px 90px;
  width: 100%;
  font-family: 'VT323', monospace;
  background: #282c34;
  text-align: center;
}

.header a {
   color: #fff;
  font-size: 1.3em;
  text-decoration: none;
}


.limiter {
  margin: auto;
  max-width: 900px;
  position: relative;
}

.speaker {
  text-align: center;
  padding: 80px 30px 30px;
  max-width: 600px;
  margin: auto;
}

.speaker h1 {
  font-weight: normal;
}


.avatar {
  position: absolute;
  top: -40px;
  left: 50%;
  height: 80px;
  width: 400px;
  margin-left: -200px;
  background: #fff;
  border-radius: 40px;
  box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.12);
}

.avatar .logo {
  display: block;
  padding-top: 10px;
  width: 130px;
  float: left;
  height: 70px;
  /*background: #e34;*/
}

.avatar .logo:last-child {
  float: right;
}

.avatar .image {
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -70px;
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 70px;
  overflow: hidden;
  box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.3);
}

.section {
  padding: 12px 12px 100px;
}

.section h2 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.section p {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  margin: 20px 0;
}

.step {
  margin-bottom: 25px;
  overflow: auto;
}
.step .title {
  display: inline-block;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  margin-right: 50px;
}
.step .description {
  color: #ababab;
  display: inline-block;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}

pre {
  position: relative;
  font-size: 12px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  line-height: 20px;
  margin: 0;
  white-space: pre-wrap;
  margin: 0 -24px 0 -24px;
  border: 1px solid #333;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  background: #282c34;
}

.section ul {
  margin: 0;
  padding-left: 40px;
}
.section ul li {
  list-style-type: disc;
  font-size: 14px;
  line-height: 24px;
}

.important {
  background: #f2f2f2;
  display: block;
  color: #997c90;
  padding: .5em 1em;
  border-radius: .2em;
  line-height: 1.2;
  border: 1px solid #d3d3d3;
  position: relative;
}

.example {
  padding: 24px;
  margin-bottom: 100px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  border-radius: 9px;
}

.important:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 6px;
  height: 100%;
  background: #ec3945;
  border-radius: .2em 0 0 .2em;
}

.important p  {
  margin: 0;
  text-align: left;
  line-height: 2;
  color: #444;
}

.nodejs .header { background: #73ad2c; }
.nodejs .speaker h1,
.nodejs .example a { color: #73ad2c; }

.html .header { background: #E91E63; }
.html .speaker h1,
.html .example a { color: #E91E63; }

.js .header { background: #9b59b6; }
.js .speaker h1,
.js .example a { color: #9b59b6; }

.docker .header { background: #039bc6; }
.docker .speaker h1,
.docker .example a { color: #039bc6; }

.php .header { background: #ef6e2a; }
.php .speaker h1,
.php .example a { color: #ef6e2a; }

.react .header { background: #3f51b5; }
.react .speaker,
.react .example a { color: #3f51b5; }


@media (max-width: 400px){
  .speaker {
    padding: 40px 12px 0px;
  }
  .speaker h1 {
    font-size: 1.5em;
  }
  .avatar {
    height: 80px;
    width: 270px;
    margin-left: -135px;
  }
  .avatar .logo {
    padding-top: 18px;
    width: 100px;
  }
  .avatar .image {
    width: 90px;
    height: 90px;
    top:-3px;
    margin-left: -45px;
  }
  
  ul li a {
    word-wrap: break-word;
    /*overflow-y: auto;*/
  }

}